.footer {
  background-color: black;
  text-align: center !important;
  color: white;
  padding: 5px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  min-height: 40px;
  outline: 1px solid red !important;
}
